# Importing Libraries

In [1]:
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

# Checking the Dataset

In [3]:
order_report = pd.read_excel('Company X - Order Report.xlsx')
order_report.head()

   ExternOrderNo            SKU  Order Qty
0     2001827036  8904223818706        1.0
1     2001827036  8904223819093        1.0
2     2001827036  8904223819109        1.0
3     2001827036  8904223818430        1.0
4     2001827036  8904223819277        1.0

In [4]:
SKU_master = pd.read_excel('Company X - SKU Master.xlsx')
SKU_master.head()

             SKU  Weight (g)
0  8904223815682         210
1  8904223815859         165
2  8904223815866         113
3  8904223815873          65
4  8904223816214         120

In [5]:
pincode = pd.read_excel('Company X - Pincode Zones.xlsx')
pincode.head()

   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d
1             121003            486886    d
2             121003            532484    d
3             121003            143001    b
4             121003            515591    d

In [6]:
CC_invoice = pd.read_excel('Courier Company - Invoice.xlsx')
CC_invoice.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4

In [7]:
CC_rates = pd.read_excel('Courier Company - Rates.xlsx')
CC_rates.head()

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.50,29.5,23.6,13.6,23.6
1,B,1.00,33.0,28.3,20.5,28.3
2,C,1.25,40.1,38.9,31.9,38.9
3,D,1.50,45.4,44.8,41.3,44.8
4,E,2.00,56.6,55.5,50.7,55.5

In [8]:
pincode.rename(columns = {'Zone':'Zone_x'}, inplace = True)

In [9]:
pincode

     Warehouse Pincode  Customer Pincode Zone_x
0               121003            507101      d
1               121003            486886      d
2               121003            532484      d
3               121003            143001      b
4               121003            515591      d
..                 ...               ...    ...
119             121003            325207      b
120             121003            303702      b
121             121003            313301      b
122             121003            173212      e
123             121003            302020      b

[124 rows x 3 columns]

In [10]:
SKU_w_orderno = pd.merge(SKU_master,order_report, on= 'SKU')

In [11]:
SKU_w_orderno

               SKU  Weight (g)  ExternOrderNo  Order Qty
0    8904223815682         210     2001808801        1.0
1    8904223815859         165     2001820978        1.0
2    8904223815859         165     2001811363        1.0
3    8904223815859         165     2001811363        1.0
4    8904223815859         165     2001808801        1.0
..             ...         ...            ...        ...
396  8904223819512         210     2001806733        1.0
397  8904223819543         300     2001811306        1.0
398     SACHETS001          10     2001827036        1.0
399     SACHETS001          10     2001825261        1.0
400     SACHETS001          10     2001819252        1.0

[401 rows x 4 columns]

In [12]:
SKU_w_orderno['Weight by Qty'] = SKU_w_orderno['Weight (g)'] * SKU_w_orderno['Order Qty']
SKU_w_orderno

               SKU  Weight (g)  ExternOrderNo  Order Qty  Weight by Qty
0    8904223815682         210     2001808801        1.0          210.0
1    8904223815859         165     2001820978        1.0          165.0
2    8904223815859         165     2001811363        1.0          165.0
3    8904223815859         165     2001811363        1.0          165.0
4    8904223815859         165     2001808801        1.0          165.0
..             ...         ...            ...        ...            ...
396  8904223819512         210     2001806733        1.0          210.0
397  8904223819543         300     2001811306        1.0          300.0
398     SACHETS001          10     2001827036        1.0           10.0
399     SACHETS001          10     2001825261        1.0           10.0
400     SACHETS001          10     2001819252        1.0           10.0

[401 rows x 5 columns]

In [13]:
temp = SKU_w_orderno.groupby('ExternOrderNo')['Weight by Qty'].sum()
temp = temp.reset_index()

In [14]:
temp.rename(columns = {'Weight by Qty':'Total_weight'}, inplace = True)

In [15]:
temp

     ExternOrderNo  Total_weight
0       2001806210         220.0
1       2001806226         480.0
2       2001806229         500.0
3       2001806232        1302.0
4       2001806233         245.0
..             ...           ...
119     2001821995         477.0
120     2001822466        1376.0
121     2001823564         672.0
122     2001825261        1557.0
123     2001827036        2176.0

[124 rows x 2 columns]

In [16]:
import numpy as np

In [17]:
temp['D_500'] = temp['Total_weight'] /500
temp['D_500'] = np.ceil(temp['D_500'])

In [18]:
temp['weight_slab_x'] = temp['D_500'] * 0.5
temp

     ExternOrderNo  Total_weight  D_500  weight_slab_x
0       2001806210         220.0    1.0            0.5
1       2001806226         480.0    1.0            0.5
2       2001806229         500.0    1.0            0.5
3       2001806232        1302.0    3.0            1.5
4       2001806233         245.0    1.0            0.5
..             ...           ...    ...            ...
119     2001821995         477.0    1.0            0.5
120     2001822466        1376.0    3.0            1.5
121     2001823564         672.0    2.0            1.0
122     2001825261        1557.0    4.0            2.0
123     2001827036        2176.0    5.0            2.5

[124 rows x 4 columns]

In [23]:
temp.rename(columns = {'ExternOrderNo':'Order ID'}, inplace = True)
temp

       Order ID  Total_weight  D_500  weight_slab_x
0    2001806210         220.0    1.0            0.5
1    2001806226         480.0    1.0            0.5
2    2001806229         500.0    1.0            0.5
3    2001806232        1302.0    3.0            1.5
4    2001806233         245.0    1.0            0.5
..          ...           ...    ...            ...
119  2001821995         477.0    1.0            0.5
120  2001822466        1376.0    3.0            1.5
121  2001823564         672.0    2.0            1.0
122  2001825261        1557.0    4.0            2.0
123  2001827036        2176.0    5.0            2.5

[124 rows x 4 columns]

In [24]:
temp

       Order ID  Total_weight  D_500  weight_slab_x
0    2001806210         220.0    1.0            0.5
1    2001806226         480.0    1.0            0.5
2    2001806229         500.0    1.0            0.5
3    2001806232        1302.0    3.0            1.5
4    2001806233         245.0    1.0            0.5
..          ...           ...    ...            ...
119  2001821995         477.0    1.0            0.5
120  2001822466        1376.0    3.0            1.5
121  2001823564         672.0    2.0            1.0
122  2001825261        1557.0    4.0            2.0
123  2001827036        2176.0    5.0            2.5

[124 rows x 4 columns]

In [25]:
temp1 = pd.merge(temp,CC_invoice, on = 'Order ID')
temp1

,Order ID,Total_weight,D_500,weight_slab_x,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001806210,220.0,1.0,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5
1,2001806226,480.0,1.0,0.5,1091117222065,0.68,121003,723146,d,Forward charges,90.2
2,2001806229,500.0,1.0,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2
3,2001806232,1302.0,3.0,1.5,1091117222124,1.30,121003,507101,d,Forward charges,135.0
4,2001806233,245.0,1.0,0.5,1091117222135,0.78,121003,263139,b,Forward charges,61.3
...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,1.0,0.5,1091121183730,0.50,121003,342008,d,Forward charges,45.4
120,2001822466,1376.0,3.0,1.5,1091121305541,1.10,121003,342301,d,Forward charges,135.0
121,2001823564,672.0,2.0,1.0,1091121666133,0.70,121003,492001,d,Forward and RTO charges,172.8
122,2001825261,1557.0,4.0,2.0,1091121981575,1.60,121003,517128,d,Forward and RTO charges,345.0
123,2001827036,2176.0,5.0,2.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9

In [26]:
temp1.drop(['Warehouse Pincode'], axis =1 , inplace = True)

In [27]:
temp1.rename(columns = {'Charged Weight':'Total_weight_cc'}, inplace = True)

In [28]:
temp1.rename(columns = {'Zone':'Zone_cc'}, inplace = True)

In [29]:
temp1.rename(columns = {'Billing Amount (Rs.)':'Amount_charge_cc'}, inplace = True)

In [30]:
temp1

,Order ID,Total_weight,D_500,weight_slab_x,AWB Code,Total_weight_cc,Customer Pincode,Zone_cc,Type of Shipment,Amount_charge_cc
0,2001806210,220.0,1.0,0.5,1091117221940,2.92,140604,b,Forward charges,174.5
1,2001806226,480.0,1.0,0.5,1091117222065,0.68,723146,d,Forward charges,90.2
2,2001806229,500.0,1.0,0.5,1091117222080,0.71,421204,d,Forward charges,90.2
3,2001806232,1302.0,3.0,1.5,1091117222124,1.30,507101,d,Forward charges,135.0
4,2001806233,245.0,1.0,0.5,1091117222135,0.78,263139,b,Forward charges,61.3
...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,1.0,0.5,1091121183730,0.50,342008,d,Forward charges,45.4
120,2001822466,1376.0,3.0,1.5,1091121305541,1.10,342301,d,Forward charges,135.0
121,2001823564,672.0,2.0,1.0,1091121666133,0.70,492001,d,Forward and RTO charges,172.8
122,2001825261,1557.0,4.0,2.0,1091121981575,1.60,517128,d,Forward and RTO charges,345.0
123,2001827036,2176.0,5.0,2.5,1091122418320,1.60,173213,b,Forward charges,117.9

In [31]:
temp1['Total_weight_cc'] = temp1['Total_weight_cc'].apply(lambda x:x*1000)

In [32]:
temp1

,Order ID,Total_weight,D_500,weight_slab_x,AWB Code,Total_weight_cc,Customer Pincode,Zone_cc,Type of Shipment,Amount_charge_cc
0,2001806210,220.0,1.0,0.5,1091117221940,2920.0,140604,b,Forward charges,174.5
1,2001806226,480.0,1.0,0.5,1091117222065,680.0,723146,d,Forward charges,90.2
2,2001806229,500.0,1.0,0.5,1091117222080,710.0,421204,d,Forward charges,90.2
3,2001806232,1302.0,3.0,1.5,1091117222124,1300.0,507101,d,Forward charges,135.0
4,2001806233,245.0,1.0,0.5,1091117222135,780.0,263139,b,Forward charges,61.3
...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,1.0,0.5,1091121183730,500.0,342008,d,Forward charges,45.4
120,2001822466,1376.0,3.0,1.5,1091121305541,1100.0,342301,d,Forward charges,135.0
121,2001823564,672.0,2.0,1.0,1091121666133,700.0,492001,d,Forward and RTO charges,172.8
122,2001825261,1557.0,4.0,2.0,1091121981575,1600.0,517128,d,Forward and RTO charges,345.0
123,2001827036,2176.0,5.0,2.5,1091122418320,1600.0,173213,b,Forward charges,117.9

In [33]:
temp1['D_500'] = temp1['Total_weight_cc'] / 500
temp1['D_500'] = np.ceil(temp1['D_500'])
temp1['weight_slab_cc'] = temp1['D_500'] * 0.5
temp1

,Order ID,Total_weight,D_500,weight_slab_x,AWB Code,Total_weight_cc,Customer Pincode,Zone_cc,Type of Shipment,Amount_charge_cc,weight_slab_cc
0,2001806210,220.0,6.0,0.5,1091117221940,2920.0,140604,b,Forward charges,174.5,3.0
1,2001806226,480.0,2.0,0.5,1091117222065,680.0,723146,d,Forward charges,90.2,1.0
2,2001806229,500.0,2.0,0.5,1091117222080,710.0,421204,d,Forward charges,90.2,1.0
3,2001806232,1302.0,3.0,1.5,1091117222124,1300.0,507101,d,Forward charges,135.0,1.5
4,2001806233,245.0,2.0,0.5,1091117222135,780.0,263139,b,Forward charges,61.3,1.0
...,...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,1.0,0.5,1091121183730,500.0,342008,d,Forward charges,45.4,0.5
120,2001822466,1376.0,3.0,1.5,1091121305541,1100.0,342301,d,Forward charges,135.0,1.5
121,2001823564,672.0,2.0,1.0,1091121666133,700.0,492001,d,Forward and RTO charges,172.8,1.0
122,2001825261,1557.0,4.0,2.0,1091121981575,1600.0,517128,d,Forward and RTO charges,345.0,2.0
123,2001827036,2176.0,4.0,2.5,1091122418320,1600.0,173213,b,Forward charges,117.9,2.0

In [34]:
temp1.drop(['D_500'], axis = 1 , inplace = True)

In [35]:
temp1

,Order ID,Total_weight,weight_slab_x,AWB Code,Total_weight_cc,Customer Pincode,Zone_cc,Type of Shipment,Amount_charge_cc,weight_slab_cc
0,2001806210,220.0,0.5,1091117221940,2920.0,140604,b,Forward charges,174.5,3.0
1,2001806226,480.0,0.5,1091117222065,680.0,723146,d,Forward charges,90.2,1.0
2,2001806229,500.0,0.5,1091117222080,710.0,421204,d,Forward charges,90.2,1.0
3,2001806232,1302.0,1.5,1091117222124,1300.0,507101,d,Forward charges,135.0,1.5
4,2001806233,245.0,0.5,1091117222135,780.0,263139,b,Forward charges,61.3,1.0
...,...,...,...,...,...,...,...,...,...,...
119,2001821995,477.0,0.5,1091121183730,500.0,342008,d,Forward charges,45.4,0.5
120,2001822466,1376.0,1.5,1091121305541,1100.0,342301,d,Forward charges,135.0,1.5
121,2001823564,672.0,1.0,1091121666133,700.0,492001,d,Forward and RTO charges,172.8,1.0
122,2001825261,1557.0,2.0,1091121981575,1600.0,517128,d,Forward and RTO charges,345.0,2.0
123,2001827036,2176.0,2.5,1091122418320,1600.0,173213,b,Forward charges,117.9,2.0

In [36]:
temp2 = pd.merge(temp1 ,pincode , on = 'Customer Pincode')

In [37]:
temp2

,Order ID,Total_weight,weight_slab_x,AWB Code,Total_weight_cc,Customer Pincode,Zone_cc,Type of Shipment,Amount_charge_cc,weight_slab_cc,Warehouse Pincode,Zone_x
0,2001806210,220.0,0.5,1091117221940,2920.0,140604,b,Forward charges,174.5,3.0,121003,b
1,2001806226,480.0,0.5,1091117222065,680.0,723146,d,Forward charges,90.2,1.0,121003,d
2,2001806229,500.0,0.5,1091117222080,710.0,421204,d,Forward charges,90.2,1.0,121003,d
3,2001806232,1302.0,1.5,1091117222124,1300.0,507101,d,Forward charges,135.0,1.5,121003,d
4,2001806233,245.0,0.5,1091117222135,780.0,263139,b,Forward charges,61.3,1.0,121003,b
...,...,...,...,...,...,...,...,...,...,...,...,...
169,2001821995,477.0,0.5,1091121183730,500.0,342008,d,Forward charges,45.4,0.5,121003,b
170,2001822466,1376.0,1.5,1091121305541,1100.0,342301,d,Forward charges,135.0,1.5,121003,b
171,2001823564,672.0,1.0,1091121666133,700.0,492001,d,Forward and RTO charges,172.8,1.0,121003,d
172,2001825261,1557.0,2.0,1091121981575,1600.0,517128,d,Forward and RTO charges,345.0,2.0,121003,d
173,2001827036,2176.0,2.5,1091122418320,1600.0,173213,b,Forward charges,117.9,2.0,121003,e

In [38]:
temp2.drop(['Warehouse Pincode'], axis = 1 , inplace = True)
temp2.drop(['Customer Pincode'], axis = 1 , inplace = True)
temp2

,Order ID,Total_weight,weight_slab_x,AWB Code,Total_weight_cc,Zone_cc,Type of Shipment,Amount_charge_cc,weight_slab_cc,Zone_x
0,2001806210,220.0,0.5,1091117221940,2920.0,b,Forward charges,174.5,3.0,b
1,2001806226,480.0,0.5,1091117222065,680.0,d,Forward charges,90.2,1.0,d
2,2001806229,500.0,0.5,1091117222080,710.0,d,Forward charges,90.2,1.0,d
3,2001806232,1302.0,1.5,1091117222124,1300.0,d,Forward charges,135.0,1.5,d
4,2001806233,245.0,0.5,1091117222135,780.0,b,Forward charges,61.3,1.0,b
...,...,...,...,...,...,...,...,...,...,...
169,2001821995,477.0,0.5,1091121183730,500.0,d,Forward charges,45.4,0.5,b
170,2001822466,1376.0,1.5,1091121305541,1100.0,d,Forward charges,135.0,1.5,b
171,2001823564,672.0,1.0,1091121666133,700.0,d,Forward and RTO charges,172.8,1.0,d
172,2001825261,1557.0,2.0,1091121981575,1600.0,d,Forward and RTO charges,345.0,2.0,d
173,2001827036,2176.0,2.5,1091122418320,1600.0,b,Forward charges,117.9,2.0,e

In [39]:
temp2.isnull().sum()

Order ID            0
Total_weight        0
weight_slab_x       0
AWB Code            0
Total_weight_cc     0
Zone_cc             0
Type of Shipment    0
Amount_charge_cc    0
weight_slab_cc      0
Zone_x              0
dtype: int64

In [40]:
temp2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          174 non-null    int64
 1   Total_weight      174 non-null    float64
 2   weight_slab_x     174 non-null    float64
 3   AWB Code          174 non-null    int64
 4   Total_weight_cc   174 non-null    float64
 5   Zone_cc           174 non-null    object
 6   Type of Shipment  174 non-null    object
 7   Amount_charge_cc  174 non-null    float64
 8   weight_slab_cc    174 non-null    float64
 9   Zone_x            174 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 13.7+ KB

In [41]:
list_zone = temp2['Zone_x'].unique()
list_zone

array(['b', 'd', 'e'], dtype=object)

In [42]:
final_df = pd.DataFrame()
final_df

Empty DataFrame
Columns: []
Index: []

In [43]:
value_pair = {'a':29.5,'b':33,'c':40.1,'d':45.4,'e':56.6}

In [44]:
additional_charges = {'a':23.6,'b':28.3,'c':38.9,'d':44.8,'e':55.5}

In [45]:
rto_fixed_charges = {'a':13.6,'b':20.5,'c':31.9,'d':41.3,'e':50.7}

In [46]:
rto_additional_charges = {'a':23.6,'b':28.3,'c':38.9,'d':44.8,'e':55.5}

In [51]:
for i in list_zone:
    temp3 = temp2[temp2['Zone_x'] == i]
    temp3['fixed'] = value_pair[i]
    temp3['additional'] = np.where(temp3['weight_slab_x'] *2 > 1, ((temp3['weight_slab_x']*2)-1) * additional_charges[i],0)
    temp3['rto-fixed_charges'] = np.where(temp3['Type of Shipment'].str.contains('RTO', case = False), rto_fixed_charges[i],0)
    temp3['rto_additional_charges'] = np.where((temp3['weight_slab_x'] *2 >1) & (temp3['Type of Shipment'].str.contains('Forward and RTO charges', case = False)), ((temp3['weight_slab_x']*2)-1) * rto_additional_charges[i],0)
    final_df = pd.concat([final_df, temp3])

In [54]:
final_df.rename(columns = {'rto-fixed_charges':'rto_fixed_charges'}, inplace = True)

In [55]:
final_df['expected_charges_X'] = final_df['fixed'] + final_df['additional'] + final_df['rto_fixed_charges'] + final_df['rto_additional_charges']
final_df

,Order ID,Total_weight,weight_slab_x,AWB Code,Total_weight_cc,Zone_cc,Type of Shipment,Amount_charge_cc,weight_slab_cc,Zone_x,fixed,additional,rto_fixed_charges,rto_additional_charges,expected_charges_X
0,2001806210,220.0,0.5,1091117221940,2920.0,b,Forward charges,174.5,3.0,b,33.0,0.0,0.0,0.0,33.0
4,2001806233,245.0,0.5,1091117222135,780.0,b,Forward charges,61.3,1.0,b,33.0,0.0,0.0,0.0,33.0
7,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,1.0,b,33.0,0.0,0.0,0.0,33.0
8,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,1.0,b,33.0,0.0,0.0,0.0,33.0
9,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,1.0,b,33.0,0.0,0.0,0.0,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,2001811604,721.0,1.0,1091118004245,800.0,b,Forward charges,61.3,1.0,e,56.6,55.5,0.0,0.0,112.1
134,2001811604,721.0,1.0,1091118004245,800.0,b,Forward charges,61.3,1.0,e,56.6,55.5,0.0,0.0,112.1
160,2001818390,841.0,1.0,1091120014461,800.0,e,Forward and RTO charges,213.5,1.0,e,56.6,55.5,50.7,55.5,218.3
161,2001819252,270.0,0.5,1091120352712,300.0,b,Forward charges,33.0,0.5,e,56.6,0.0,0.0,0.0,56.6
173,2001827036,2176.0,2.5,1091122418320,1600.0,b,Forward charges,117.9,2.0,e,56.6,222.0,0.0,0.0,278.6

In [57]:
final_df['difference_x_cc'] = round(final_df['expected_charges_X'] - final_df['Amount_charge_cc'],2)
final_df

,Order ID,Total_weight,weight_slab_x,AWB Code,Total_weight_cc,Zone_cc,Type of Shipment,Amount_charge_cc,weight_slab_cc,Zone_x,fixed,additional,rto_fixed_charges,rto_additional_charges,expected_charges_X,difference_x_cc
0,2001806210,220.0,0.5,1091117221940,2920.0,b,Forward charges,174.5,3.0,b,33.0,0.0,0.0,0.0,33.0,-141.5
4,2001806233,245.0,0.5,1091117222135,780.0,b,Forward charges,61.3,1.0,b,33.0,0.0,0.0,0.0,33.0,-28.3
7,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,1.0,b,33.0,0.0,0.0,0.0,33.0,-57.2
8,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,1.0,b,33.0,0.0,0.0,0.0,33.0,-57.2
9,2001806304,500.0,0.5,1091117222360,710.0,d,Forward charges,90.2,1.0,b,33.0,0.0,0.0,0.0,33.0,-57.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,2001811604,721.0,1.0,1091118004245,800.0,b,Forward charges,61.3,1.0,e,56.6,55.5,0.0,0.0,112.1,50.8
134,2001811604,721.0,1.0,1091118004245,800.0,b,Forward charges,61.3,1.0,e,56.6,55.5,0.0,0.0,112.1,50.8
160,2001818390,841.0,1.0,1091120014461,800.0,e,Forward and RTO charges,213.5,1.0,e,56.6,55.5,50.7,55.5,218.3,4.8
161,2001819252,270.0,0.5,1091120352712,300.0,b,Forward charges,33.0,0.5,e,56.6,0.0,0.0,0.0,56.6,23.6
173,2001827036,2176.0,2.5,1091122418320,1600.0,b,Forward charges,117.9,2.0,e,56.6,222.0,0.0,0.0,278.6,160.7

In [58]:
final_df = final_df.drop(columns = ['fixed','additional','rto_fixed_charges','rto_additional_charges'])

In [62]:
DF = final_df[['Order ID','AWB Code','Total_weight','weight_slab_x','Total_weight_cc','weight_slab_cc','Zone_x','Zone_cc','expected_charges_X','Amount_charge_cc','difference_x_cc']]
DF

,Order ID,AWB Code,Total_weight,weight_slab_x,Total_weight_cc,weight_slab_cc,Zone_x,Zone_cc,expected_charges_X,Amount_charge_cc,difference_x_cc
0,2001806210,1091117221940,220.0,0.5,2920.0,3.0,b,b,33.0,174.5,-141.5
4,2001806233,1091117222135,245.0,0.5,780.0,1.0,b,b,33.0,61.3,-28.3
7,2001806304,1091117222360,500.0,0.5,710.0,1.0,b,d,33.0,90.2,-57.2
8,2001806304,1091117222360,500.0,0.5,710.0,1.0,b,d,33.0,90.2,-57.2
9,2001806304,1091117222360,500.0,0.5,710.0,1.0,b,d,33.0,90.2,-57.2
...,...,...,...,...,...,...,...,...,...,...,...
133,2001811604,1091118004245,721.0,1.0,800.0,1.0,e,b,112.1,61.3,50.8
134,2001811604,1091118004245,721.0,1.0,800.0,1.0,e,b,112.1,61.3,50.8
160,2001818390,1091120014461,841.0,1.0,800.0,1.0,e,e,218.3,213.5,4.8
161,2001819252,1091120352712,270.0,0.5,300.0,0.5,e,b,56.6,33.0,23.6
173,2001827036,1091122418320,2176.0,2.5,1600.0,2.0,e,b,278.6,117.9,160.7

In [63]:
DF.to_csv('DF.csv', index=False)